export IS_LOCAL=1
# export BROWSER_PATH=/tmp/localChromium/chromium/mac_arm-1083080/chrome-mac/Chromium.app/Contents/MacOS/Chromium
export BROWSER_PATH="/Applications/Google Chrome.app/Contents/MacOS/Google Chrome"